@import 'src/scss/mixins.scss';

body {
    background-color: rgb(228, 148, 87);
}

.shopPage {
    width: 100%;
    min-height: 100vh;
    .shoph1 {
        color: #fff;
        text-align: center;
        margin-top: 50px;
    }

    .blockShop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .loader{
            margin: 95px 0;
        }

        .good {
            cursor: pointer;
            width: 250px;
            height: 350px;
            background-color: #fff;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin: 20px 40px;
            transition: 0.4s;
            &:hover{
                transition: 0.4s;
                margin-top: -10px;
            }
            img {
                width: 100%;
                border-radius: 10px;
            }

            .goodInfo {

                .goodName,
                .goodPoints {
                    color: #111;
                    text-align: center;
                }
            }
        }
    }
    &__closeBtn{
        cursor: pointer;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
        background-color: #fff;
        font-weight: 500;
        @include center();
    }
}

.good.selected {
    border: 5px solid #00ff00;
}

.cart {
    margin-top: 20px;

    h2 {
        color: #fff;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            background-color: #fff;
            border-radius: 5px;
            margin: 5px 0;
            padding: 5px;
        }
    }
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .li_cart{
        padding: 0 10px;
        margin: 10px 10px;
    }
    .confirmButton{
        width: 200px;
        height: 60px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
    }
}

.row{
    @include row();
    margin: 30px 0 0 0;
    padding: 0 0 0 30px;
    &__left,
    &__right{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        h2{
            color: #fff;
        }
    }
    &__right{
        justify-content: end;
    }
}

