@import '../../scss/mixins.scss';

.userBox {
    width: 100%;
    height: 100vh;

    .head {
        width: 100%;
        height: 12vh;
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;

        h1 {
            color: #fff;
        }
    }

    .main {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;

        .left {
            width: 30%;
            height: 100%;
            background-color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .tog {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .userName {
                    color: #fff;
                    font-size: 32px;
                    margin-top: 20px;
                    font-weight: 700;
                    letter-spacing: 3px;
                }

                .idcode {
                    color: #fff;
                    // font-weight: 200;
                    letter-spacing: 1px;
                    font-size: calc(1.1vw);
                }

                .image {
                    margin-top: 12vh;
                    width: 250px;
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: #fff;
                    overflow: hidden;

                    .imageDiv {
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }

            .directions {
                width: 70%;
                display: flex;
                flex-direction: column;

                li {
                    font-size: 20px;
                    font-weight: 600;
                    color: #fff;
                    cursor: pointer;
                    transition: 0.4s;
                    &:hover{
                        letter-spacing: 2px;
                        text-decoration: underline;
                    }
                }
            }
        }

        .right {
            height: 100%;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;

            .directions{
                display: none;
            }

            .congrats{
                h1{
                    @include text(35px, #fff, 700)
                }
                @media screen and (max-width: 520px) {
                    display: flex;
                    flex-direction: column;
                }
            }

            h1 {
                // color: #fff;
                // font-size: 40px;
                // font-weight: 500;
                text-align: center;
                @include text(30px, #fff, 700)

            }

            .mainRight {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .points {
                    margin: 40px 0;
                    text-align: center;
                    font-size: 30px;
                    font-weight: 600;
                    color: #fff;

                    .blockPoints {
                        width: 100%;
                        height: 70px;
                        padding: 0 20px;
                        font-size: 45px;
                        background-color: #643718;
                        color: #fff;
                        display: flex;
                        font-weight: 700;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                    }
                }

                .btns {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    align-items: center;

                    .blockBtn {
                        width: 190px;
                        height: 190px;
                        display: flex;
                        flex-direction: column-reverse;
                        justify-content: space-evenly;
                        align-items: center;
                        background-color: #fff;
                        text-align: center;
                        border: none;
                        cursor: pointer;
                        outline: none;
                        border-radius: 15px;
                    }

                    #historyBlock {
                        .blockImage {
                            background-image: url('https://cdn.icon-icons.com/icons2/2518/PNG/512/history_icon_151299.png');
                            background-size: cover;
                            background-position: center;
                            width: 60%;
                            height: 60%;
                        }
                    }

                    #shopBlock {
                        .blockImage {
                            background-image: url('https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/shop-512.png');
                            background-size: cover;
                            background-position: center;
                            width: 60%;
                            height: 60%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1015px) {
    .userBox .main .right{
        width: 60%;
    }
    .userBox .main .left{
        width: 40%; 
    }
    .userBox .main .left .tog .idcode{
        font-size: calc(1.4vw);
    }
}

@media screen and (max-width: 785px) {
    .userBox .main .left .tog .image{
        width: 200px;
        height: 200px;
    }
    .userBox .main .right .mainRight .btns .blockBtn{
        width: 140px;
        height: 140px;
        font-size: 14px;
    }
}

@media screen and (max-width: 605px) {
    .userBox .main .left{
        display: none;
    }
    .userBox .main .right{
        width: 100%;
        h1{
            font-size: calc(5vw);
        }
        .directions {
            width: 70%;
            display: flex;
            flex-direction: column;

            .text {
                font-size: 20px;
                font-weight: 600;
                color: #fff;
                cursor: pointer;
                transition: 0.4s;
                &:hover{
                    letter-spacing: 2px;
                    text-decoration: underline;
                }
            }
        }
        .btns{
            margin: 0 0 30px 0;
        }
    }
    .userBox .main .right .congrats{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .image{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #fff;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 2px solid #000000;
            .imageDiv{
                width: 80%;
                height: 80%;
                background-size: cover;
                background-position: center;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .userBox .main .right h1{
        font-size: calc(5vw);
    }
    .userBox .main .right .congrats .image{
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 350px) {
    .userBox .main .right .mainRight .btns .blockBtn{
        width: 100px;
        height: 100px;
    }
}