@import '../../scss/mixins.scss';

.rating{
    @include center();
    @include block(100vh);
    flex-direction: column;
    gap: 30px;
    .head_container{
        display: flex;
    }
    .home_btn{
        position: absolute;
        left: 0;
        margin-left: 20px
    }
    .text_head{
        @include text(40px, #fff, 700);
        text-align: center;
        @media screen and (max-width: 840px) {
            display: none;
        }
    }
    .users{
        @include center();
        flex-direction: column;
        width: 100%;
        .blockUser{
            @include row();
            width: 80%;
            margin: 10px 0;
            height: 70px;
            background-color: #ffffff99;
            border-radius: 5px;
            justify-content: space-between;
            padding: 0 20px;
            @media screen and (max-width: 1300px) {
                width: 95%;
            }
            @media screen and (max-width: 840px) {
                flex-direction: column;
                height: auto;
                padding: 10px 0;
            }
            .number{
                @include text(25px, #111, 700);
                @media screen and (max-width: 450px) {
                    font-size: 16px;
                }
            }
            .name{
                @include text(25px, #111, 300);
            }
            .id{
                @include text(25px, #111, 700);
                @media screen and (max-width: 840px) {
                    font-size: 20px;
                }
                @media screen and (max-width: 450px) {
                    font-size: 16px;
                }
            }
            .points{
                @include text(25px, #111, 700);
                @media screen and (max-width: 840px) {
                    font-size: 20px;
                }
                @media screen and (max-width: 450px) {
                    font-size: 16px;
                }
            }
            .id__holder{
                display: flex;
                gap: 35px;
                @media screen and (max-width: 890px) {
                    gap: 20px;
                }
            }
        }
    }
}

.pagination-container{
    position: absolute;
    bottom: 30px;
    @media screen and (max-width: 840px) {
        bottom: 15px;
    }
}