@import '../../../scss/mixins.scss';





.admin__header {
    @include block(8vh);
    @include center;

    width: 100%;
    justify-content: space-between;
    padding: 25px;

    h3 {
        @include text(21px, white, 700)
    }

    .admin__header-container {
        @include center;
        width: 19%;
        height: 100%;
        display: flex;
        justify-content: space-between;

        p {
            @include text(21px, white, 700);
            transition: 1s
        }

        ;

        p:hover {
            @include text(21px, lightgreen, 700)
        }

        .admin__header-btn {
            @include button(90px);
            @include text(14px, black, 700);
            height: 35px;
            border-radius: 10px;

            &:hover {
                background-color: #3a3333;
                color: white;
            }
        }
    }
}