@import '../../scss/mixins.scss';

.notFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    h1{
        color: red;
        font-size: 40px;
        line-height: normal;
    }
    h2{
        color: #fff;
    }
    .home_btn{
        @include button(300px);
    }
}
