@import '../../scss/mixins.scss';

.container {

    @include block(20vh);
    width: 65%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .container__first-block {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container__first-block_image {
            width: 82%;
            height: 82%;
            border-radius: 20px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 92%;
                height: 92%;
            }
        }


    }

    .container__second-block {
        width: 60%;
        height: 84%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;




        align-items: center;


        h3 {
            @include text(34px, white, 700)
        }

        .container__second-block_card-container {
            @include block(88%);
            width: 92%;
            justify-content: space-around;
            align-items: center;
        }

        .container__second-block_card {
            height: 78%;
            width: 30%;
            border-radius: 10px;
            background-color: #5c3113;
            display: flex;
            align-items: center;
            justify-content: center;


            p {
                @include text(90px, white, 800)
            }
        }

    }
}