@import '../../scss/mixins.scss';

.home {

    @include block(100vh);
    position: relative;
    // width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    &__container{
        align-items: center;
        justify-content: center;
    }


    .container__block-container {

        // @include block(50vh);
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    // .container__first-block {
    //     width: 40%;
    //     height: 100%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;

        


    // }

    .container__first-block_image {
        width: 400px;
        height: 400px;
        // height: 82%;
        border-radius: 20px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 92%;
            height: 92%;
        }
    }

    .container__second-block {

        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        h3 {
            @include text(45px, white, 700)
        }

        .container__second-block_card-container {
            @include block(88%);
            width: 92%;
            justify-content: space-around;
            align-items: center;
        }

        .container__second-block_card {
            height: 200px;
            width: 30%;
            border-radius: 20px;
            background-color: #5c3113;
            display: flex;
            align-items: center;
            justify-content: center;


            p {
                @include text(100px, white, 800)
            }
        }

        .container__second-block-btn {
            @include button(300px);
            height: 45px;
            background-color: #ffffff99;
        }
    }
}