@import '../../scss/mixins.scss';

.main {
    @include block(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger{
    position: absolute;
    width: 60px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    z-index: 11;
    @media screen and (max-width: 1050px) {
        display: flex;
    }
}