@import '../../../scss/mixins.scss';

.admin__container {
    @include block(93vh);
    @include center;
    flex-wrap: wrap;
    border: none;

    .card__conatiner {
        width: 66%;
        height: 92%;
        display: flex;
        flex-wrap: wrap;
    }

    .admin__container-pagination {
        @include center;
        justify-content: start;
        width: 100%;
        height: 8%;
    }
}