@import '../../../scss/mixins.scss';

.admin__container {
    @include block(93vh);
    min-height: 93vh;
    @include center;
    flex-wrap: wrap;
    border: none;

    .card__conatiner {
        padding: 20px 0;
        width: 80%;
        height: min-content;
        display: flex;
        flex-wrap: wrap;
    }

    .admin__container-pagination {
        @include center;
        justify-content: start;
        width: 100%;
        height: 8%;
    }
}