@import '../../../scss/mixins.scss';

.admin__history {
    @include block(92vh);
    @include center;
    flex-direction: column;


    &-container {
        @include block(90%);
        width: 70%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &-pagination {
        @include block(10%);
        @include center;
        width: 70%;
    }
    &__filter{
        @include row();
        justify-content: center;
        padding: 0 50px;
        margin-bottom: 30px;
    }
    &__btn{
    transition: 0.4s;
    @include center();
    background-color: #ffffff99;
    margin:  0 20px;
    @include text(18px, white, 600);
    cursor: pointer;
    width: 190px;
    height: 42px;
    border-radius: 8px;
    &:hover{
        transition: 0.4s;
        color:rgb(27, 225, 27) ;
    }
    &_active{
        &:hover{
            color: #fff;
        }
        background-color: rgb(27, 225, 27);
    }
    }
}
