@import '../../../scss/mixins.scss';

.admin__history {
    @include block(92vh);
    @include center;
    flex-direction: column;


    &-container {
        @include block(90%);
        width: 70%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &-pagination {
        @include block(10%);
        @include center;
        width: 70%;
    }
    &__filter{
        @include row();
        justify-content: center;
        padding: 0 50px;
        margin-bottom: 30px;
    }
    &__btn{
    transition: 0.4s;
    @include center();
    background-color: #ffffff99;
    margin:  0 20px;
    @include text(18px, white, 600);
    cursor: pointer;
    width: 190px;
    height: 42px;
    border-radius: 8px;
    &:hover{
        transition: 0.4s;
        color:rgb(27, 225, 27) ;
    }
    &_active{
        &:hover{
            color: #fff;
        }
        background-color: rgb(27, 225, 27);
    }
    }
}


@media screen and (max-width: 890px) {
    .admin__history{
        .admin__history__filter{
            .admin__history__btn{
                width: 150px;
                font-size: 17px;
            }
            .admin__search{
                .admin__search__img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        height: 80%;
                        width: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 805px) {
    .admin__history{
        .admin__history__filter{
            .admin__search{
                .admin__search__inp{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 732px) {
    .admin__history{
        .admin__history__filter{
            .admin__history__btn{
                font-size: 15px;
            }
        }
        .admin__search{
            min-width: 150px;
            width: 250px;
        }
    }
}

@media screen and (max-width: 650px) {
    .admin__history{
        .admin__history__filter{
            flex-direction: column;
            .admin__history__btn{
                margin:  10px 0;
            }
        }
    }
}